@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&family=Sedan&display=swap');

body {
    font-family: "Sedan", serif;
}

header {
    background-color: palegoldenrod;
}

header .btn {
    font-size: 20px;
}

.btn-light {
    border-color: transparent;
    background-color: transparent;
}

.btn-light:hover {
    background-color: transparent;
    border-color: black;
}

.card {
    width: 300px;
    margin-block: 20px;
    padding: 0;
}

.card:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease;
}

.card img {
    height: 230px;
    padding: 0.5em;
    border-radius: 0.7em;
    
}

.card:hover .more {
    display: block;
}

.more {
    background-color: palegoldenrod;
    display: none;
    position: absolute;
    top: 87%;
    left: 6%; 
}

.card-body {
    display: grid;
    align-content: space-between;
}

section h2 {
    width: 100%;
}